<h1>Nuevo post, Willy</h1>

<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <div id="errorExplanation">
            <strong>Estamos en la B, perrito</strong>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
    <% end %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title, class: 'form-control' %>
	</p>
	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text, class:'form-control' %>
	</p>
	<p>
		<%= f.submit class: 'btn btn-primary'  %> <%= link_to "Volver a lista de posts", posts_path, class: 'btn btn-default' %>
	</p>
<% end %>
